<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <%- include ('../views/common_files/header') -%>
        <h3>The place for all your news!</h3>
        <p>We are a news digest site, bringing you the latest and most relevant news of the moment. Welcome!</p>
</body>

</html>